.product_image {
  width: 100%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 10px;
}


.product_image_details {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}


