.background {
  background-color: #476528;
  //height: 100%;
  padding-bottom: 5rem;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.title {
  color: #9af83d;
}

.buttons{
  margin: 1rem;
  margin-bottom: 4rem;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
