.background {
  background-color: #476528;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.title {
  color: #76bd2e;
}
